*{
    padding: 0;
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
/*################ ESTILOS DEL HEADER ################*/
header{
    width: 100vw;
    height: 120px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 15px;
    cursor:pointer;
}

#logo-cel{
    margin-left: 20px;
}

#hamb{
    margin-right: 20px;
}

/*################ ESTYLOS DEL MAIN ################*/

/* ESTILOS DE BOTONES*/
.button{
    width: 150px;
    height: 55px;
    border-radius: 50px;
    background-color: #F3603B;
    color: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    border: opx solid #000;
    cursor:pointer;
    
}

/*ESTILO DE LOS TITULOS*/
.titulo{
    text-align: center;
    font-weight: 700;
    color: #232C50;
}

/* ESTILOS DE LOS PARRAFOS*/
.p{
    text-align: center;
    color: #B9B9C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin: 15px;
}

/*######################################*/
.precentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 7%;
}

.porcentaje{
    width: 90vw;
    margin: 0 5%;
}

#h2s1{
    font-size: 30px;
    margin: 0 15px;
}

#button1{
    margin-top: 10px;
}

/*######################################*/
#h2s2{
    font-size: 25px;
    margin:100px 20px  15px;
}

.info{
    display: flex;
    margin-top: 40px;
}

.item{
    position: absolute;
    text-align: center;
    width: 40px;
    padding: 9px;
    border-radius: 50px;
    background-color: #F3603B;
    color: #FFFFFF;    
    margin-left: 15px;
    font-weight: 700;
}

.h4{
    display: flex;
    width: 100vw;
    height: 38px;
    font-weight: 700;
    font-size: 14px;
    color: #323851;
    align-items: center;
    margin-left: 40px;
    padding-left: 45px;
    
}

#ps2{
    font-size: 13px;
}

/*######################################*/
.sec3{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
    margin-bottom: 50px;
}

#h3s3{
    font-size: 27px;
}

.imgs3{
    width: 100px;
    margin: 70px 0 40px;
}

.nombre{
    font-size: 16px;
    font-weight: 700;
    color: #3F4868;
    margin-bottom: 30px;
}

.circulos{
    display: flex;
}

.cir{
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #F3603B;
    margin: 50px 3px;
}

#cirr{
    background-color: #F3603B;
}

/*####################estilos de la tercera secction descktop#########*/
#rec-desk{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

.desk{
    width: 100vw;
     display: flex;
     justify-content: space-between;
     height: 50vh;
}

.rec{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

.p-desk{
    font-weight: 600;
    font-size: 16px;
    color: #B9B9C1;
    margin: 0%;
    text-align: center;
}

/*##########ESTILO PIE DE PAGINA##########*/
.sec-sup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: #F3613C;
}

.h2-footer{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 37px;
    text-align: center;
    margin: 0 15px;
}

#button3{
    background-color: #FFFFFF;
    color: #F3603B;
    margin-top: 30px;
}
/*################footer superior desktop#################*/
.h2-footer-des{
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 9%;
}

/*############################################*/
.sec-inf{
    height: 60%;
    background-color: #1E1E26;
}

.form{
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input{
    width: 220px;
    background-color: #FFFFFF;
    color: #A0A0A0;
    font-size: 12px;
    font-weight: 600;
    padding: 13px;
    border-radius: 50px;
    margin-left: 15px;    
}

.button-form{
    width: 80px;
    padding: 13px;
    border-radius: 50px;
    background-color: #F3603B;
    color: #FFFFFF;    
    margin-right: 15px;
    font-weight: 700;
    cursor:pointer;
}

/*copyr del desktop*/
.p-form{
    font-size: 12.5px;
    font-weight: 500;
    color: #8C8C94;
    margin-bottom: 50px;
    text-align: right;
    margin-right: 7%;
    padding: 13px;
}

/*###################ESTILOS DEL NAV ##################*/
.option{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.ul-footer{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    list-style: none;
    font-weight: 500;
    margin: 20px 30px;
    gap: 1rem;
}
/*#############ICONOS#################*/
.iconos{
    display: flex;
    justify-content: space-around;

}

.fa-brands{
    color: #FFFFFF;
}
/*##############################*/
.Logo-pie{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    
}

.copyr{
    text-align: center;
    color: #8C8C94;
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 12px;
}

/*################################## MEDIA QUERRIES ##################################*/
/*mi resolucion es de 1920px
pero apartir de 1300px va bien 
*/
@media (min-width: 375px){
        
    #hamb{
        display: none;
    }

    .porcentaje{
        display: none;
    }

    #logo-cel{
        margin-left: 7%;
    
    }

    #button1{
        margin-right: 7%;
    }

    /*#######footer de desktop######*/
    footer{
        height: 700px;
    }

    .sec-inf{
        height: 50%;
    }
    .sec-sup{
        height: 50%;
    }
    /* main{
        margin-left: 7%;
        margin-right: 7%;
    }*/
    /*######## primera seccion desktop ##########*/

    .section1{
        display: flex;
        justify-content: space-between;
        margin-top: 7%;
    }

    .precentacion{
        justify-content: center;
        align-items: flex-start;   
    }

    #h2s1{
        font-family: 700;
        font-size: 58px;
        margin: 0%;
        text-align: left;
    }

    #pp{
        text-align: left;
        margin: 0;
    }
    /*######## primera seccion laptop ##########*/
    .section2{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .articulos{
        width: 40vw;
        display: flex;
        flex-direction: column;
    }

    .info{
        display: flex;
    }

    .h4{
        font-size: 16px;
        font-weight: 700;
        padding-left: 0%;
        margin-left: 110px;
    }

   #ps2{
        text-align: left;
        color: #B3B2B7;
        font-weight: 500;
        font-size: 15px;
        margin-left: 110px;
    }

    #p-des{
        text-align: left;
        margin-left: 0%;
        font-size: 16px;
        font-weight: 500;
        color: #000000;
    }

    #pres-des{
        justify-content: flex-start;
        margin-top: 50px;
    }

    #h2s2{
        margin-top: 40px;
        margin-left: 0%;
        font-weight: 700;
        color: #232851;
        font-size: 36px;
        text-align: left;
    }

    .articulos{
        margin-top: 50px;
    }

    /*#####################TERCERA SECCION####################*/
    .sec3{
        display: none;
    }
    .imgs3{
        width: 5vw;
        margin-bottom: 30px;
    }

    /**#####################footer#######################*/
    .sec-sup{
        flex-direction: row;
        justify-content: space-between;

    }

    .h2-footer{
        display: none;
    }

    #button3{
        margin-right: 9%;
    }
    /*$$$$$$$$$$$$$$$$$$$$$$$$$*/
    .copyr{
        display: none;
    }

    .sec-inf{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        width: 100vw;
    }

    .div-form{
        display: flex;
        flex-direction: column;
        width: 30vw;
        justify-content: space-evenly;
        align-items: flex-end;
    
    }

    .option{
        justify-content: space-around;
        align-items: center;
        width: 30vw;
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
    }


    #logo-des{
        margin: 0%;
        width: 200px;
    }

    .ul-footer{
        gap: 2rem;
        cursor:pointer;
    }

    .iconos{
        justify-content: center;
        gap: 1rem;
        margin-bottom: 60px;
        cursor:pointer;
    }

    .form{
        justify-content: center;
        margin-right: 7%;
    }

    .input{
        padding: 20px;
       
    }
    
    .button-form{
        width: 90px;
        padding: 20px;
        margin-left: 15px;
    }

    #h3s3{
        margin-top: 70px;
    }


    .icon-des{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        width: 30vw;
    }

}
/*#############CEL##################3*/
/* la version mobile me funciona en 374px*/
@media (max-width: 375px){
    footer{
        width: 100vw;
        height:800px;
    }

    .nav-ul{
        display: none;
    }

    #button1{
        display: none;
    }

    .porcentaje2{
        display: none;
    }

    .h4{
        background-color: rgba(242, 95, 59, 0.10);
    }

    br{
        display: none;
    }

    .rec-desk{
        display: none;
    }

    .h2-footer-des{
        display: none;
    }

    .p-form{
        display: none;
    }

}

/*pseudoclase*/
.icon-des i:hover{
    color: #F3613C;
}

.ul-footer li:hover{
    color: #F3613C;
}

.nav-ul li:hover{
    color: #B9B9C1;
}

.form input:invalid{
    border: 1px solid rgb(226, 47, 47);;
    color: red;
}

.button:hover{
    background-color: rgb(228, 140, 118);
}

.button-form:hover{
    background-color: rgb(228, 140, 118);
}

#button3:hover{
    background-color: #FFFFFF;
    color: rgb(228, 140, 118);
}
